<div id="datepicker">
  <div class="row">
    <div>
      <h2>Date Picker Component</h2>
    </div>
    <div>
      <h2>
        From Date
      </h2>
    </div>
    <div class="datepicker-fromdate">
      <mat-form-field>
        <input matInput [max]="maxFromDate" [matDatepicker]="frompicker" placeholder="Choose from date" [ngModel]="fromDateTime"
          (ngModelChange)="onChangeFromDate($event)" readonly>
        <mat-datepicker-toggle matSuffix [for]="frompicker"></mat-datepicker-toggle>
        <mat-datepicker #frompicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <h2>
        To Date
      </h2>
    </div>
    <div class="datepicker-todate">
      <mat-form-field>
        <input matInput [min]="maxToDate" [matDatepicker]="topicker" placeholder="Choose To date" [ngModel]="toDateTime" (ngModelChange)="onChangeToDate($event)"
          readonly>
        <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
        <mat-datepicker #topicker></mat-datepicker>
      </mat-form-field>
      <!-- <md-input-container>
        <input mdInput [min]="minToDate" [max]="maxToDate" [mdDatepicker]="topicker" placeholder="Choose a to  date" [ngModel]="toDateTime"
          (ngModelChange)="onChangeToDate($event)" readonly>
        <button mdSuffix [mdDatepickerToggle]="topicker"></button>
      </md-input-container>
      <md-datepicker #topicker></md-datepicker> -->
    </div>
  </div>
</div>